<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-2" style="color:white;" routerLink="/users" routerLinkActive="active-link">Rental machinery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal('add')">Добавить услугу<span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users" routerLinkActive="active-link">Пользователи<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/state" routerLinkActive="active-link">Субъекты<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/machinery" routerLinkActive="active-link">Спец техника<span class="sr-only"></span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input type="search" (ngModelChange)="searchService(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search services" required>
    </form>
  </div>
</nav>
<div class="container" id ="main-container"  >
  <div class="row">
    <div *ngFor="let service of services" class="col-md-6 col-xs-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0" >
            <h5> {{service?.name}}</h5>
          </div>
          <div class="col-6 card-title align-self-center mb-0" >
            <h5> {{service?.price}}</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click) = "onOpenModal('edit', service)"  class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click) = "onOpenModal('delete', service)"  class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Service Modal -->
  <div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addEServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addServiceModalLabel">Add service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm= "ngForm" (ngSubmit)="onAddService(addForm)">
            <div class="form-group" >
              <label for="name">Name</label>
              <input type="text" ngModel name="name" id = "name1" class="form-control"  placeholder="Название" required>
            </div>
            <div class="form-group" >
              <label for="price">Price</label>
              <input type="text" ngModel name="price" id = "price" class="form-control"  placeholder="Цена" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-service-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit modal -->
  <div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="serviceEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateServiceModalLabel">Edit Service </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm ="ngForm">
            <div class="form-group">
              <label for="name">Nickame</label>
              <input type="text" ngModel = "{{updateService?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Название">
            </div>
            <div class="form-group" >
              <label for="price">Price</label>
              <input type="text" ngModel name="price" id = "price1" class="form-control"  placeholder="Цена" required>
            </div>
            <input type="hidden" ngModel = "{{updateService?.id}}"  name="id" class="form-control" id="id" placeholder="Email">
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="updateForm.invalid" (click)="onUpdateService(updateForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="deleteServiceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete service  ?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteService(deleteService!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no services -->
  <div *ngIf="services?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO SERVICES!</h4>
      <p>No Services were found.</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
