<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-2" style="color:white;" routerLink="/users" routerLinkActive="active-link">Rental machinery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users" routerLinkActive="active-link">Пользователи<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/state" routerLinkActive="active-link">Субъекты<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/service" routerLinkActive="active-link">Услуги<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/machinery" routerLinkActive="active-link">Спец техника<span class="sr-only"></span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchOrders(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search users" required>
    </form>
  </div>
</nav>
<div class="container" id ="main-container" >
  <div class="row">
    <div *ngFor="let order of orders" class="col-sm-6 col-sm-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5> {{order?.state?.stateName}}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Дата: {{order?.order_date | date:'medium'}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Адресс: {{order?.order_place}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Адресс: {{order?.service?.name}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Цена: {{order?.service?.price}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Имя пользователя: {{order?.users?.nickname}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i ></i> Название спец техники: {{order?.machinery?.machineryName}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click) = "onOpenModal('delete', order)"  class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete modal -->
  <div class="modal fade" id="deleteOrderModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete Order ?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteOrder(deleteOrder!.orderId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notification for no Orders -->
  <div *ngIf="orders?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO ORDERS!</h4>
      <p>No orders were found.</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
