/* CSS used here will be applied after bootstrap.css */

body {
  background: url('https://bootdey.com/img/Content/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
  opacity: 0.9;
  margin-top:30px;
}
.form-group.last {
  margin-bottom:0px;
}
.panel {
  background: lawngreen,  ;
  border-radius: 5px;
  opacity: 0.9;
  margin-top:30px;
}
.register-label{
  color: black;
}
.panel-footer{
  color: black;
}
.container{
  max-width: 50%;
  position: absolute;
  left: 43%;
  top: 30%;
}
.button-container {
  margin-top: 10px;
}
